aiofiles==0.6.0
aiohttp==3.7.4.post0
aiosqlite==0.17.0
animals.py==1.0.0
art==5.2
async-generator==1.10
async-timeout==3.0.1
asyncio-extras==1.3.2
asyncpraw==7.3.1
asyncprawcore==2.2.1
attrs==21.2.0
buttons==0.1.9
certifi==2021.5.30
chardet==4.0.0
charset-normalizer==2.0.3
cycler==0.10.0
discord==1.7.3
discord-components==1.1.4
discord-pretty-help==1.3.2
discord.py==1.7.3
dislash.py==1.2.5
idna==3.2
InfixParser==3.1.2
kiwisolver==1.3.1
lxml==4.6.3
matplotlib==3.4.2
multidict==5.1.0
multitasking==0.0.9
numpy==1.21.1
pandas==1.3.1
Pillow==8.3.1
pyMorseTranslator==1.2.0
pyparsing==2.4.7
python-dateutil==2.8.2
pytz==2021.1
randfacts==0.8.0
requests==2.26.0
simpleeval==0.9.10
six==1.16.0
typing-extensions==3.10.0.0
update-checker==0.18.0
urllib3==1.26.6
vacefron.py==1.6.2
yarl==1.6.3
yfinance==0.1.63
youtube-dl==2021.6.6
